elasticdeform==0.5.0
itk==5.3.0
kimimaro==3.3.0
matplotlib==3.6.3
mayavi==4.8.1
napari==0.4.17
networkx==2.8.6
numba==0.56.2
numpy==1.23.5
opencv-contrib-python==4.6.0.66
openpyxl==3.0.10
pandas==1.4.4
Pillow==10.0.1
pydicom==2.3.0
PyQt5==5.15.9
PyQt6==6.4.2
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.11.2
SimpleITK==2.2.0
sknw==0.14
tifffile==2023.4.12
traitsui==7.4.3
vtk==9.2.6
wxPython==4.2.0

